---
import styles from "./Footer.module.css";
---

<footer class={styles.footer}>
  <div class={styles.container}>
    <div class={styles.social}>
      <a href="https://t.me/+380688473401" target="_blank" rel="noopener noreferrer">Telegram</a>
      <a href="https://www.instagram.com/avku_official/" target="_blank" rel="noopener noreferrer">Instagram</a>
      <a href="https://www.facebook.com/groups/555103805361838" target="_blank" rel="noopener noreferrer">Facebook</a>
      <a href="https://www.youtube.com/@avkuorg" target="_blank" rel="noopener noreferrer">YouTube</a>
    </div>
    <p data-translate="footer_text">© 2025 АВКУ. Усі права захищені.</p>
  </div>
</footer>
