---
import Base from "../layouts/Base.astro";
import "../styles/pages/about.css";

const lang = "uk";
const title = "AVKU — Про нас";
---

<Base lang={lang} title={title}>
  <Fragment slot="head">
    <link rel="icon" href="/logo.png" />
  </Fragment>

  <section class="about-section">...</section>
</Base>
